.Controls {
  padding: 18px 21px 24px 19px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.Controls-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.Controls-info__title {
  color: #000;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Controls-info__count {
  color: #000;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Controls-info__button {
  max-width: 80px;
  width: 100%;
}